<template> Buttons->Default
  <iframe
     src="https://codesandbox.io/embed/myfirstejsample-m0063?autoresize=1&codemirror=1&fontsize=14&hidenavigation=1&module=%2Fsrc%2Fapp.html&theme=light&view=preview"
     style="width:95%; height:500px; border:0; border-radius: 4px; overflow:hidden;"
     title="MyFirstEjSample"
     allow="geolocation; microphone; camera; midi; vr; accelerometer; gyroscope; payment; ambient-light-sensor; encrypted-media; usb"
     sandbox="allow-modals allow-forms allow-popups allow-scripts allow-same-origin"
   ></iframe>

   <a href="https://codesandbox.io/s/myfirstejsample-m0063?autoresize=1&codemirror=1&fontsize=14&hidenavigation=1&module=%2Fsrc%2Fapp.html&theme=light&view=preview">
    <img alt="Edit MyFirstEjSample" src="https://codesandbox.io/static/img/play-codesandbox.svg">
  </a>
</template>
